h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
background-color: powderblue;
width: 460px;
}
body{
background-color: orange;
animation-name: example;
  animation-duration: 4s;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
@keyframes example {
  from {background-color: green;}
  to {background-color: yellow;}
}
